body {
  display: grid; 
  place-content: center;
  margin-top: 10%;
} 

h1   {
  color: #4050FF;
}

.styled-checkbox {
  padding: 3px;
  border-radius: .3em;
  margin-top: .3em;
  width: auto;
  height: auto;
}

input[id=styled] {
  position: absolute;
  opacity: 0;
  
  & + svg {
    cursor: pointer;
    width: 1em;
    border: 1px solid black;
    border-radius: 10%;
    .check {
      display: none;
    }
  }

  &:checked + svg {
    .box {
      fill: black;
    }
    .check {
      display: grid;
      color: white;
    }
  }
}

.focus {
  outline-offset: 2px;
  outline: blue solid 2px;
}